
<%= form_for topic, html: {class: 'form-inline'} do |f|  %>

<% if topic.errors.any? %>
<div class="alert alert-danger">
  <h4><%= pluralize(topic.errors.count, "error")%></h4>
  <ul>
    <% topic.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %>
  <br>
  <%= form_group_tag(topic.errors[:title]) do %>

  <%= f.label :title%>
  <%= f.text_field :title, cols: 20,class: 'text-field', placeholder: 'Title for new Topic' %>
  <% end %>

<div class="form-group">
<%= f.submit "Save", class: 'btn btn-success btn-xs' %>
</div>
<% end %>

  
