<div class = 'container'>
  <div class = 'row'>
<h1><%="#{@topic.title}"%></h1>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger btn-xs pull-left' %>
<%= link_to "Edit Topic", edit_topic_path(id: @topic.id), class: 'btn btn-primary btn-xs space' %>
<p class="lead">Click on bookmark to view Blockmarks</p>

<% @topic.bookmarks.each do |bookmark|%>
  <%=link_to topic_bookmark_path(topic_id: @topic, id: bookmark.id) do %>
    <div class = 'col-md-4 box'>
      <%= "#{bookmark.url}" %>
    </div>
  <% end %>
<% end %>
    

</div>
<br>
<%= link_to "New Bookmark", new_topic_bookmark_path(topic_id: @topic.id), class: 'btn btn-success btn-xs' %>
<%= link_to "Edit", edit_topic_path(id: @topic.id), class: 'btn btn-primary btn-xs' %>  
</div>
  